@import url(https://fonts.googleapis.com/css?family=Noto%20Sans:400,700);

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

ul {
  list-style: none;
  padding: 0;
}

section li:before {
  content: "* ";
}

h1, h3 {
  color:#222;
  margin:0 0 20px;
}

p, ul {
  margin:0 0 20px;
}

h1, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h3 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

small a {
  font-size:11px;
  color:#777;
}

small a:hover {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
}

@media print, screen and (max-width: 720px) {
  header {
    padding:0;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
